.class {
    padding:30px;
    border-color: black;
    
    background-color: purple;
    font-weight: 100;
    color:white;
    border-radius: 15px;
    border-style: double;
}

p{
    font-size: large;
}